
/* Styling Forms  */
/* #ln {
    margin-top: 5px;
}
#ln {
    margin-top: 5px;
}

input {
    font-size: xx-large;
    color: rebeccapurple;
    background-color: wheat;
    border: 2px solid goldenrod;
    border-radius: 10px;
}

input:hover {
    background-color:lightblue;
}
input:focus {
    border: 3px solid red;
    outline: none;
} */




/* Background images  > no internet issue  */
/* #github {
    margin-top: 5px;
} */





/* cursor style  */

/* button#btn {
    cursor: move;
} */