/* BOX DIMENSION  */
/* any element have own box  */
/* div {
    height: 100px;
    width: 200px;
    background-color: #cdcd0e;
    
}
p {
    width: 190px;
    height: 210px;
    /* background-color: violet; 
} */


/* Limiting Width  > Max width and Min width 
 */
 
/* td.description {
    min-width: 450px;
    max-width: 650px;
    text-align: left;
    padding: 5px;
    margin: 0px;

} */



/* Limiting height  */

h2, p {
   width: 400px;
   font-size: 90%;
   line-height: 1.2em;

}
h2 {
    color: #0088dd;
    border-bottom: 1px solid #0088dd;
}
 
p {
    /* min-height: 100px; */
    max-height: 300px;
    border: 1px solid red;
}
