/* BOX DIMENSION  */
/* any element have own box  */
/* div {
    height: 100px;
    width: 200px;
    background-color: #cdcd0e;
    
}
p {
    width: 190px;
    height: 210px;
    /* background-color: violet; 
} */


/* Limiting Width  > Max width and Min width 
 */
 
/* td.description {
    min-width: 450px;
    max-width: 650px;
    text-align: left;
    padding: 5px;
    margin: 0px;

} */



/* Limiting height  */
/* 
h2, p {
   width: 400px;
   font-size: 90%;
   line-height: 1.2em;

}
h2 {
    color: #0088dd;
    border-bottom: 1px solid #0088dd;
}
 
p {
    /* min-height: 100px; 
    max-height: 300px;
    border: 1px solid red;
} */



/* Overflowing Content  */

/* hidden , scroll  */

/* p.one {
    max-height: 50px;
    border: 1px solid red;
    overflow: hidden;
   
}
p.two {
    max-height: 50px;
    border: 1px solid red;
    
    overflow: scroll;
} */



/* Border width  */

/* p.one {
    border-style: solid;
    border-width: thin;
}
p.two {
    border-style: solid;
    border-width: medium;
}
p.three {
    border-style: solid;
    border-width: thick;
}

p.four {
    border-style: solid;
    border-top-width: 10px;
    border-bottom-width: 10px;
    border-right-width: 6px;
    border-left-width: 7px;
}
p.five {
   /* Shorthand  > clockwise  
    border-style: solid;
    border-width: 1px 2px 3px 4px;
  
} */




/* Border Style  */

/* solid ,dashed,dotted,inset ,outset,groove  */

/* p.one {
    border-style: solid;
}
p.two {
    border-style: dashed;
}
p.three {
    border-style: dotted;
}
p.four {
    border-style: inset;
}
p.five {
    border-style: groove;
} */



/* Border Color  */
  /* clockwised */
/* p.one {
    border-style: groove;
    border-color: blueviolet;

}
p.two {
    border-style: solid;
   border-top-color: yellowgreen;
   border-bottom-color: rgb(65, 86, 23);
   border-right-color: rgb(191, 216, 141);
   border-left-color: rgb(0, 0, 0);

}
p.three {
    /* clockwised 
    border-style: groove;
    border-color: aqua red goldenrod royalblue;

} */


/* ShortHand Border  */

/* p.one {
    border: 10px solid hotpink;
} */




/* Padding  */

/* p {
    width: 300px;
    border: 5px solid green;
    padding: 20px;
} */

/* Shorthand Padding  */
/* 
p {
    width: 300px;
    border: 5px solid green;
    padding: 30px 50px 70px 90px;
} */



/* Margin  */

/* p {
    border: 4px solid teal;
    margin: 50px;
} */


/* shorthand margin  */

/* p {
    border: 5px solid tomato;
   
}

.p2{ 
    margin-top: 200px;
} */



/* Centering element  */



/* p {
    width: 300px;
    height: 100px;
    border: 5px solid tomato;
    padding: 50px;
   
}
p.p2 {
    /* margin: 10px auto 10px auto; 
    margin-left: auto;
    margin-right: auto;
    
} */




/* CHANGE INLINE BLOCK   */

/* li {
    display: inline;
    padding-right: 10px;
    
}
.coming-soon {
    display: none;
} */


/* Hiding Boxes  */
/* Visibility  */
/* 
li {
    display: inline;
    margin-right: 10px;
}
li.coming-soon {
    /* only hide the space will occupy  
    visibility: hidden;
    /* visibility: visible; 
} */ 



/* Border Images  */

/* p.one{ 
    /* border: 30px solid transparent;
    /* border-image: url(./image/dots.png) 60 repeat; 
    /* border-image: url(./image/dots.png) 60 stretch; 
    border-image: url(./image/dots.png) 40 round;
    padding: 20px; 
} */




/* Box Shadow  */

/* .one {
    width: 300px;
    /* box-shadow: 0px 0px 15px #777777; 
    box-shadow: 10px 10px 10px 10px red; 
    padding: 10px;
} */




/* Rounded Corner  */

/* body {
    background-color: black;
} */
/* p.one {
    border: 4px solid teal;
    padding: 20px;
    width: 200px;
    border-radius: 10px; 
    margin-left: auto;
    margin-right: auto;
    background-color: gainsboro;
    color: black;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
} */

/* Mooon */
/* p.two {
    width: 80px;
    height: 80px;
    border-radius: 50%; 
    background-color: white;
    margin-left: auto;
    margin-right: auto;
} */
/* img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 10px solid gainsboro;
    margin-left: auto;
    margin-right: auto;
} */