<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Normal Flow Positioning </title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>The Normal Flow Positioning</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem magni, fuga quisquam dolorem error distinctio voluptatum sapiente voluptatibus perferendis id possimus modi, praesentium, similique eaque? Impedit fuga laudantium deleniti dolores voluptatibus, quos pariatur ducimus rem, nostrum sint sequi possimus voluptatem?</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem magni, fuga quisquam dolorem error distinctio voluptatum sapiente voluptatibus perferendis id possimus modi, praesentium, similique eaque? Impedit fuga laudantium deleniti dolores voluptatibus, quos pariatur ducimus rem, nostrum sint sequi possimus voluptatem?</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem magni, fuga quisquam dolorem error distinctio voluptatum sapiente voluptatibus perferendis id possimus modi, praesentium, similique eaque? Impedit fuga laudantium deleniti dolores voluptatibus, quos pariatur ducimus rem, nostrum sint sequi possimus voluptatem?</p>
</body>
</html>