<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relative Position </title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>The Realtive Positiooning </h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt consequuntur rem accusantium placeat sit? Atque, veritatis asperiores. Facere deleniti perspiciatis obcaecati accusamus voluptas, neque, earum voluptate repellat aliquam est rerum officiis repellendus enim doloribus. Atque, voluptate. Suscipit placeat amet cupiditate.</p>
    <p id="example">Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt consequuntur rem accusantium placeat sit? Atque, veritatis asperiores. Facere deleniti perspiciatis obcaecati accusamus voluptas, neque, earum voluptate repellat aliquam est rerum officiis repellendus enim doloribus. Atque, voluptate. Suscipit placeat amet cupiditate.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt consequuntur rem accusantium placeat sit? Atque, veritatis asperiores. Facere deleniti perspiciatis obcaecati accusamus voluptas, neque, earum voluptate repellat aliquam est rerum officiis repellendus enim doloribus. Atque, voluptate. Suscipit placeat amet cupiditate.</p>
</body>
</html>