<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Absolute Positioning </title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>the Absolute Positioning </h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto recusandae commodi quibusdam dolorum hic aperiam soluta consectetur voluptas reiciendis tenetur at, magnam iste ipsa aut suscipit eaque minus adipisci! Possimus maxime blanditiis obcaecati soluta provident quos officia eaque! Cupiditate, quaerat? </p>

    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto recusandae commodi quibusdam dolorum hic aperiam soluta consectetur voluptas reiciendis tenetur at, magnam iste ipsa aut suscipit eaque minus adipisci! Possimus maxime blanditiis obcaecati soluta provident quos officia eaque! Cupiditate, quaerat? </p>

    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto recusandae commodi quibusdam dolorum hic aperiam soluta consectetur voluptas reiciendis tenetur at, magnam iste ipsa aut suscipit eaque minus adipisci! Possimus maxime blanditiis obcaecati soluta provident quos officia eaque! Cupiditate, quaerat? </p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto recusandae commodi quibusdam dolorum hic aperiam soluta consectetur voluptas reiciendis tenetur at, magnam iste ipsa aut suscipit eaque minus adipisci! Possimus maxime blanditiis obcaecati soluta provident quos officia eaque! Cupiditate, quaerat? </p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto recusandae commodi quibusdam dolorum hic aperiam soluta consectetur voluptas reiciendis tenetur at, magnam iste ipsa aut suscipit eaque minus adipisci! Possimus maxime blanditiis obcaecati soluta provident quos officia eaque! Cupiditate, quaerat? </p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto recusandae commodi quibusdam dolorum hic aperiam soluta consectetur voluptas reiciendis tenetur at, magnam iste ipsa aut suscipit eaque minus adipisci! Possimus maxime blanditiis obcaecati soluta provident quos officia eaque! Cupiditate, quaerat? </p>
    
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto recusandae commodi quibusdam dolorum hic aperiam soluta consectetur voluptas reiciendis tenetur at, magnam iste ipsa aut suscipit eaque minus adipisci! Possimus maxime blanditiis obcaecati soluta provident quos officia eaque! Cupiditate, quaerat? </p>
</body>
</html>