<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Fixed Positioning </title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>The Evolution of the Bicycle</h1>

    <p class="example">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam nam iste quis delectus illum libero quae tenetur hic dolorem veniam eum eaque error perspiciatis accusamus, officiis modi veritatis vitae perferendis et fugiat voluptatibus illo quas eos aliquam! Rerum, tempora cupiditate id ipsum nisi perspiciatis consequatur, ipsa commodi vero illum amet.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam nam iste quis delectus illum libero quae tenetur hic dolorem veniam eum eaque error perspiciatis accusamus, officiis modi veritatis vitae perferendis et fugiat voluptatibus illo quas eos aliquam! Rerum, tempora cupiditate id ipsum nisi perspiciatis consequatur, ipsa commodi vero illum amet.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam nam iste quis delectus illum libero quae tenetur hic dolorem veniam eum eaque error perspiciatis accusamus, officiis modi veritatis vitae perferendis et fugiat voluptatibus illo quas eos aliquam! Rerum, tempora cupiditate id ipsum nisi perspiciatis consequatur, ipsa commodi vero illum amet.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam nam iste quis delectus illum libero quae tenetur hic dolorem veniam eum eaque error perspiciatis accusamus, officiis modi veritatis vitae perferendis et fugiat voluptatibus illo quas eos aliquam! Rerum, tempora cupiditate id ipsum nisi perspiciatis consequatur, ipsa commodi vero illum amet.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam nam iste quis delectus illum libero quae tenetur hic dolorem veniam eum eaque error perspiciatis accusamus, officiis modi veritatis vitae perferendis et fugiat voluptatibus illo quas eos aliquam! Rerum, tempora cupiditate id ipsum nisi perspiciatis consequatur, ipsa commodi vero illum amet.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam nam iste quis delectus illum libero quae tenetur hic dolorem veniam eum eaque error perspiciatis accusamus, officiis modi veritatis vitae perferendis et fugiat voluptatibus illo quas eos aliquam! Rerum, tempora cupiditate id ipsum nisi perspiciatis consequatur, ipsa commodi vero illum amet.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam nam iste quis delectus illum libero quae tenetur hic dolorem veniam eum eaque error perspiciatis accusamus, officiis modi veritatis vitae perferendis et fugiat voluptatibus illo quas eos aliquam! Rerum, tempora cupiditate id ipsum nisi perspiciatis consequatur, ipsa commodi vero illum amet.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam nam iste quis delectus illum libero quae tenetur hic dolorem veniam eum eaque error perspiciatis accusamus, officiis modi veritatis vitae perferendis et fugiat voluptatibus illo quas eos aliquam! Rerum, tempora cupiditate id ipsum nisi perspiciatis consequatur, ipsa commodi vero illum amet.</p>
</body>
</html>