/* body {
    font-family: Arial, Helvetica, sans-serif;
    width: 750px;
    color: #665544;;
}
h1 {
    background-color: azure;
    padding: 10px;
}
p {
    width: 450px;
} */




/* RELATIVE POSITIONING  */


/* p#example {
    position: relative;
    top: 10px;
    left: 100px;

} */


/* The Absolute Positioning  */


/* h1 {
    position: absolute;
    top: 0px;
    left: 500px;
    width: 250px;
}
p {
    width: 450px;
} */




/* The Fixed Positioning  */

h1 {
    position: fixed;
    top: 0px;
    left: 50px;
    padding: 10px;
    margin: 0px;
    width: 100%;
    background-color: #efefef;


}
p.example{
    margin-top: 100px;
}
